.text {
    display: flex;
    flex-direction: row;
}

img {
    width: 50%;
}

.text img {

    width: 50%;
}

.text {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.showcase-container {
    display: flex;
    flex-direction: column;

    width: 70%;
    gap: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

body {
    background-color: pink;
  }

body {
    font-family: 'Open Sans', sans-serif;
  }

h1 {
    font-size: 40px;
  }

h1 {
    text-align: center;
  }
.navbar {
    border: 10px solid black; /* Required for border-image */
    padding: 15px;
  }


  
  
  

  




  
    